<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NotificationConsumerBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint binding="customBinding" bindingConfiguration="NotificationConsumerBinding"
                contract="SharpOnvifServer.Events.NotificationConsumer" name="NotificationConsumerBinding_NotificationConsumer" />
        </client>
    </system.serviceModel>
</configuration>